* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-size: 1em;
    font-family: "Oswald";
    line-height: 150px;
}

body {
    background-color: burlywood;
}

header {
    background-color: rgb(153, 127, 93);
    text-align: center;
    padding: 20px 40px;

}


#about {
    background-color: bisque;
    padding: 20px 40px;
    text-align: center;
}

#articles {
    padding: 20px 40px;

}

h1 {
    font-size: 4rem;
    text-decoration: underline;
}


h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}


p {
    text-align: justify;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-family: serif;

}

ol {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

ul {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#content {
    padding: 10px 40px;
}

nav ul {
    list-style: none;
    text-transform: lowercase;
    font-size: 1.5em;
    text-align: center;
}



footer {
    background-color: rgb(153, 127, 93);
    color: white;
    padding: 1px 1px;
}

footer p {
    margin-top: 10px;
    font-size: 1rem;
    padding: -10px;
    margin-left: 1.5rem;
}

footer img {
    margin-top: 1rem;
    margin-left: 1.5rem;
    border: solid 10px;
}


time {
    text-align: justify;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

dl {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}



img {
    border: 1.5rem;
    border-radius: 1.5rem;
}

#biography {
    text-align: center;
}

a:hover {
    background-color: aqua;
}

a:focus {
    background-color: blueviolet;
}

.links a:hover {
    background-color: darkblue;
}

.links a:focus {
    background-color: red;
}

#articles a:focus {
    background-color: black;
}

#articles a:hover {
    background-color: red;
}



#articles li:nth-child(odd) {
    background-color: white;
}

#articles li:nth-child(5)::after {
    content: "Важно!";
    font-size: 10px;
    background-color: bisque;
    color: red;
    margin-left: 10px;
}

#biography p::first-line {

    text-decoration: underline;
}

p:lang(en) {
    font-style: italic;
}

#about p {
    color: red;
    background-color: black;
}

img+p {
    margin-top: 500px;
}

/* a:link {
    color: red
}
a:visited {
    color: orange
}
a:active {
    color: blue
}
a:hover {
    color: purple
}
a:focus {
    color: green
}

.h2-new::after {
    content: "new";
    font-size: 12px;
    color:  red;
    margin-left: 12px;

}

ul li:nth-child(odd) {
    background-color: palegreen;
}

ol.links li {
    background-color: aqua;
} */




.exampleTable {
    border: solid 10px red;
    border-collapse: collapse;
}

.exampleTable th {
    text-transform: uppercase;  
}

.exampleTable td:first-child {
    text-transform: uppercase;
}

.exampleTable td,
.exampleTable th {
    border: solid 1px black;
    padding: 10px 15px;
}

.exampleTable tr:nth-child(odd) {
    color: red
}

.exampleTable th:nth-child(even),
.exampleTable td:nth-child(even) {
    background-color: green;
}

.exampleTable tr:last-child td:nth-child(2) {
    text-align: center;
}

#register {
    width: 250px;
    margin: 10px auto;
    border-radius: 50px;
    padding: 60px;
    background-color: lightblue;
}

#register input[type=text],
#register textarea, 
#register select 
{
    background-color: azure;
    padding: 7px;
    border-radius: 5px;
    color: dimgray;
    margin-bottom: 10px;
    border: 1px, solid dimgray;
    
}

#register input[type=submit] {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 7px;
    border: none;
}

#register input[type=submit]:hover {
    background-color: darkblue;
}

#register input[type=radio] {
    accent-color: darkred;
}



/* body - 1
.pink - 10
#logo - 100
#mainnav ul - 101
#mainnav .active - 110
#mainnav a:hover - 102
#mainnav ul li.active - 112*/
